{% extends "chat/base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class=" register">
  <form method="POST" class="auth-form">
    <h2>Create Account</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
    <p class="form-switch-link">Already have an account? <a href="{% url 'login' %}">Log In</a></p>
  </form>
</div>
{% endblock %}